<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true"> 

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
        <!-- encoders are  by default assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{42} - %msg%n</pattern> -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{42}\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.lanit.dks.hackaton.light" level="INFO" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>